<div class="content" style="margin-top: 20px;">
  <div fxLayout="row wrap">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" style="margin:2%">


      <!-- <mat-card style="text-align: center;">
        <mat-card-title>
          login
        </mat-card-title>

        <mat-card-content>


        </mat-card-content>
      </mat-card> -->


      <mat-card class="mat-elevation-z4">
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>Informasi Tambahan</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="flex-direction: row; box-sizing: border-box; display: flex; margin-top: 20px;">
            <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 90%;"><span style="font-size: x-large;"><img
                  width="25px" style="margin-bottom: -3px;" alt="" src="/assets/images/facebook.png"> Facebook Status:
                {{charactersTotal}}</span><span> / 250</span></div>
            <div fxflex="60" style="flex: 1 1 100%; box-sizing: border-box; max-width: 10%;">
              <span style="font-size: large;"
                *ngIf="facebookStatusPercent <= 100 && facebookStatusPercent >= 0">{{facebookStatusPercent}}%
              </span>
              <span style="font-size: large; color: red;" *ngIf="facebookStatusPercent > 100">Over</span>
            </div>
          </div>
          <div class="colored box" style="cursor: pointer; flex-direction: row; box-sizing: border-box; display: flex;">
            <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
              <mat-progress-bar mode="determinate" value="{{facebookStatusPercent}}" style="color: #3b5998;">
              </mat-progress-bar>
            </div>
          </div>

          <div style="flex-direction: row; box-sizing: border-box; display: flex; margin-top: 40px;">
            <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 90%;"><span style="font-size: x-large;"><img
                  width="25px" style="margin-bottom: -3px;" alt="" src="/assets/images/twitter.png"> Twitter Status:
                {{charactersTotal}}</span><span> / 280</span></div>
            <div fxflex="60" style="flex: 1 1 100%; box-sizing: border-box; max-width: 10%;">
              <span style="font-size: large;"
                *ngIf="twitterStatusPercent <= 100 && twitterStatusPercent >= 0">{{twitterStatusPercent}}%
              </span>
              <span style="font-size: large; color: red;" *ngIf="twitterStatusPercent > 100">Over</span>
            </div>
          </div>
          <div class="colored box" style="cursor: pointer; flex-direction: row; box-sizing: border-box; display: flex;">
            <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;">
              <mat-progress-bar mode="determinate" value="{{facebookStatusPercent}}"></mat-progress-bar>
            </div>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>
            <mat-icon>pets</mat-icon> LIKE
          </button>
          <button mat-button>
            <mat-icon>share</mat-icon> SHARE
          </button> -->
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%" style="margin-left: 1%;margin-right: 1%; margin-top: 2%;">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>
            <h1>Kata: <strong>{{wordsTotal}}</strong> &nbsp; Huruf/Karakter : <strong>{{charactersTotal}}</strong></h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <textarea autofocus class="textarea" rows="10" [ngModel]="wordsData" (ngModelChange)="changeWords($event)"
            placeholder="Ketik atau tempel(paste) kata anda"></textarea>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary" style="margin-left:1%;" (click)="deleteWords()">HAPUS</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" style="margin:2%">
      <!-- <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Dog </mat-card-title>
        </mat-card-header>
        <img mat-card-image alt="" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content>
          <p>
            Picture Of Shiba Inu
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>pets</mat-icon> LIKE
          </button>
          <button mat-button>
            <mat-icon>share</mat-icon> SHARE
          </button>
        </mat-card-actions>
      </mat-card> -->
    </div>

  </div>
</div>