.textarea {
    outline: none !important;
    border:1px solid rgba(153, 153, 153, 0.295);
    /* box-shadow: 0 0 10px #719ECE; */
    width: 98%; 
    resize: none;
    padding:1%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgb(197, 197, 197);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgb(197, 197, 197);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgb(197, 197, 197);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgb(197, 197, 197);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    rgb(197, 197, 197);
}

::placeholder { /* Most modern browsers support this now. */
   color:    rgb(197, 197, 197);
}